<div style="display: grid;">
    <% category.forEach(category => { %>
        <br>
        <br>
        <br>
        <a name="id" id="id" href="../categories/<%= category.id %>" style="font-size: 50px;"><%= category.name %></a>
        <% }) %> 
    </div>