<div style="display: grid;">
<% category.forEach(c => { %>
    <br>
    <br>
    <br>
    <a name="id" id="id" href="../categories/<%= c.id %>" style="font-size: 50px;"><%= c.name %></a>
    <% }) %> 
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<a href="/">&larr; Back Home</a>
