<% category.forEach(categ =>
{ %> 
    <h1><%= categ.name %></h1>
    <% categ.projects.forEach(project => { %>
        <ul>
            <li><a href="/projects/<%= project.id %>" ><%= project.name %></a></li>
        </ul>
    <% }) %>
<% }) %> 

<hr>

<a href="/">&larr; Back Home</a>